/* Timetable DESC - ASCTT render engine
 * Copyright (C) 2020 Łukasz Świszcz
 *
 * lato.css - the Lato font stylesheet
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/* lato-300 - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v16-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('fonts/lato-v16-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('fonts/lato-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-300italic - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/lato-v16-latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
       url('fonts/lato-v16-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v16-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('fonts/lato-v16-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v16-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('fonts/lato-v16-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin_latin-ext */
@font-face {
  font-family: 'Lato-ext';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/lato-v16-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('fonts/lato-v16-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v16-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v16-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v16-latin_latin-ext-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}
