/* Timetable DESC - ASCTT render engine
 * Copyright (C) 2020 Łukasz Świszcz
 *
 * style.scss - app main stylesheet
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "ubuntu.css";

$bgcolor: #191d19;
$accent: #ff931f;
$accent-hover: scale-color($accent, $lightness: 20%);
$control-bg: linear-gradient(to bottom, $bgcolor 0%, rgba($accent, 0.1) 49%, $bgcolor 50%, $bgcolor 100%);
$pressed: scale-color($accent, $lightness: -50%);
$text-basic: #cccccc;
$disabled: #666666;
$control-bg-disabled: linear-gradient(to bottom, $bgcolor 0%, rgba($disabled, 0.1) 49%, $bgcolor 50%, $bgcolor 100%);
$typeface: "Ubuntu";

$tabbgcolor: scale-color($bgcolor, $lightness: 5%);
$tabsecondarycolor: scale-color($bgcolor, $lightness: -20%);
$tabboxborder: black;

$border: 4px;

$a4width: 595pt;
$a4height: 842pt;

@import "spinner.scss";

@mixin form-control {
  border: 1px solid $accent;
  background: scale-color($bgcolor, $lightness: -20%);
  border-radius: $border;
  color: $text-basic;
}

@mixin control-focus {
  &:focus {
    box-shadow: 0px 0px 10px $accent;
    outline: none;
  }
}

@mixin control-focus-v2 {
  &:focus {
    outline: none;
  }

  &.focus-visible {
    box-shadow: 0 0 5px $accent;
    z-index: 10;
  }
}

@mixin property-spacing {
  margin-bottom: 16px;
}

@mixin fill-width {
  width: 100%;
  box-sizing: border-box;
}

body, .container-after-titlebar {
  background: $bgcolor;
  padding: 24px;
  overflow: hidden;
}

.center {
  text-align: center;

  & > * {
    margin: 0 auto;
    text-align: center;
  }
}

.titlebar {
  border-bottom: 2px solid $accent;
}

.window-icon-bg {
  transition: 0.2s;
}

.titlebar .window-title {
  font-size: 10pt !important;
  font-weight: 700;
}

.titlebar .window-controls-container .window-icon-bg.window-close-bg:hover {
  background: scale-color($accent, $alpha: -50%) !important;
}

body, html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track:vertical {
  background-size: 16px 1px;
  background: linear-gradient(to right, transparent 0%, transparent 40%, $disabled 50%, transparent 60%, transparent 100%);
}

::-webkit-scrollbar-track:horizontal {
  background-size: 1px 16px;
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, $disabled 50%, transparent 60%, transparent 100%);
}

::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(to bottom, transparent 0%, $accent 5%, $accent 95%, transparent 100%);
  transition: 0.2s;
  width: 16px;
  background-clip: content-box;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  min-height: 20px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(to right, transparent 0%, $accent 5%, $accent 95%, transparent 100%);
  transition: 0.2s;
  height: 16px;
  background-clip: content-box;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  min-width: 20px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-image: linear-gradient(to bottom, transparent 0%, scale-color($accent, $lightness: 20%) 5%, scale-color($accent, $lightness: 20%) 95%, transparent 100%);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-image: linear-gradient(to right, transparent 0%, scale-color($accent, $lightness: 20%) 5%, scale-color($accent, $lightness: 20%) 95%, transparent 100%);
}

::-webkit-scrollbar-thumb:vertical:active {
  background-image: linear-gradient(to bottom, transparent 0%, $pressed 5%, $pressed 95%, transparent 100%);
}

::-webkit-scrollbar-thumb:horizontal:active {
  background-image: linear-gradient(to right, transparent 0%, $pressed 5%, $pressed 95%, transparent 100%);
}

::-webkit-scrollbar-button:vertical:decrement {
  background: url('img/scrollbar-up.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
  transition: 2s;
}

::-webkit-scrollbar-button:vertical:increment {
  background: url('img/scrollbar-down.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 20px;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
  background-image: url('img/scrollbar-up-h.svg');
}

::-webkit-scrollbar-button:vertical:increment:hover {
  background-image: url('img/scrollbar-down-h.svg');
}

::-webkit-scrollbar-button:vertical:decrement:active {
  background-image: url('img/scrollbar-up-p.svg');
}

::-webkit-scrollbar-button:vertical:increment:active {
  background-image: url('img/scrollbar-down-p.svg');
}

::-webkit-scrollbar-button:horizontal:decrement {
  background: url('img/scrollbar-left.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  transition: 2s;
}

::-webkit-scrollbar-button:horizontal:increment {
  background: url('img/scrollbar-right.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
  background-image: url('img/scrollbar-left-h.svg');
}

::-webkit-scrollbar-button:horizontal:increment:hover {
  background-image: url('img/scrollbar-right-h.svg');
}

::-webkit-scrollbar-button:horizontal:decrement:active {
  background-image: url('img/scrollbar-left-p.svg');
}

::-webkit-scrollbar-button:horizontal:increment:active {
  background-image: url('img/scrollbar-right-p.svg');
}

::-webkit-scrollbar-corner {
  background: $bgcolor;
}

.full-width {
  @include fill-width;
}

#app, .app-container {
  height: 100%;
  @include fill-width;
}

.container {
  @include fill-width;
  height: 100%;
  padding: 16px;
}

::selection {
  background: $accent;
  color: $bgcolor;
}

body * {
  font-family: $typeface;
}

.horizontal-flex {
  display: flex;
  @include fill-width;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  & > * {
    flex: 0 1 auto;
    position: relative;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }

  & > .expand-horz {
    flex-grow: 1;
    min-width: 0;
  }
}

.vertical-flex {
  display: flex;
  @include fill-width;
  height: 100%;
  flex-direction: column;
  align-items: stretch;

  & > * {
    flex: 0 1 auto;
    position: relative;
  }

  &:not(.nomargin) > *:not(:last-child) {
    margin-bottom: 16px;
  }

  & > .expand-vert {
    flex-grow: 1;
    min-height: 0;

    &.scroll {
      overflow-y: scroll;
      padding-right: 8px;
      @include property-spacing;
    }
  }
}

.button {
  user-select: none;
  font-size: 12pt;
  position: relative;

  & > .button-inner {
    transition: 0.3s;
    text-align: center;
    @include fill-width;
  }

  & > .button-anim {
    text-align: center;
    @include fill-width;
  }

  &:not(.button-disabled) {
    &:active {
      transform: scale(0.95);

      & > .button-anim {
        background: $tabbgcolor;
        box-shadow: 0 0 3px inset black;
      }
    }

    & > .button-inner {
      border: 1px solid black;
      border-radius: $border;
      background: linear-gradient(to bottom, scale-color($tabbgcolor, $lightness: 10%) 0%, $tabbgcolor 100%);
      color: $text-basic;
      position: relative;
      padding: 8px 16px;

      &:hover {
        outline: none;
      }

      @include control-focus-v2;
    }

    & > .button-anim {
      pointer-events: none;
      border: 1px solid black;
      border-radius: $border;
      background: scale-color($tabbgcolor, $lightness: 10%);
      color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 16px;
      clip-path: circle(0%);
      transition: transform 0.2s ease-out, clip-path 0.2s ease-out;
    }

    &:hover > .button-anim {
      clip-path: circle(100%);
      transition: transform 0.2s ease-out, clip-path 0.2s ease-out;
    }
  }

  &.button-disabled {
    .button-anim {
      display: none;
    }

    .button-inner {
      @include form-control;
      background: $bgcolor;
      color: $disabled;
      border-color: black;
      position: relative;
      padding: 8px 16px;

      &:hover {
        outline: none;
      }

      @include control-focus;
    }
  }

  &.button-small {
    & > .button-inner,
    & > .button-anim {
      font-size: 10pt;
      font-weight: 700;
      padding: 5px 7px;
    }
  }
}

.text-field {
  @include form-control;
  border-color: black;
  padding: 8px;
  box-shadow: inset 0px 1px 2px black;
  transition: 0.4s;
  font-size: 11pt;

  &:focus {
    border: 1px solid $accent;
  }

  &:disabled {
    background: $bgcolor;
    color: $disabled;
  }

  @include control-focus;
}

.text-field-gray {
  color: $disabled;
}

label {
  font-size: 10pt;
  color: $text-basic;
  margin-bottom: 4px;
  display: block;
  font-weight: 700;
  user-select: none;
}

.placeholder {
  position: absolute;
  left: 0;
  top: 32px;
  right: 0;
  bottom: 32px;
  margin: auto;
  @include fill-width;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  & > img {
    flex-grow: 1;
    @include fill-width;
  }

  & > p {
    color: rgba(255,255,255,0.25);
    text-align: center;
    font-size: 2em;
    user-select: none;
  }
}

img {
  user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

.tabbox {
  @include fill-width;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & .tab-bar {
    display: flex;
    flex-direction: row;
    flex: 0 0 35px;
    flex-wrap: wrap;
    font-size: 10.5pt;
    align-items: flex-end;

    & .tab {
      position: relative;
      padding: 4px 12px;
      color: $disabled;
      border: 1px solid $tabbgcolor;
      border-radius: $border $border 0 0;
      border-bottom-color: $tabboxborder;
      background: scale-color($bgcolor, $lightness: -20%);
      user-select: none;
      transition: 0.3s;

      @include control-focus-v2;

      &:hover {
        padding-bottom: 9px;
      }

      &.tab-active {
        background: $tabbgcolor;
        border-color: $tabboxborder;
        border-bottom: none;
        padding-bottom: 10px;
        color: $text-basic;

        & .tab-dash {
          width: 24px;
        }
      }

      & .tab-dash {
        position: absolute;
        left: 2px;
        right: 2px;
        bottom: 4px;
        width: 0px;
        margin: auto;
        height: 2px;
        background-color: $accent;
        transition: width 0.3s;
      }
    }

    & .tab-fill {
      flex-grow: 1;
      border-bottom: 1px solid $tabboxborder;
    }
  }

  & .tab-content {
    flex-grow: 1;
    background: $tabbgcolor;
    border-radius: 0 0 $border $border;
    border: 1px solid $tabboxborder;
    border-top-width: 0;
    padding: 16px;
    color: $text-basic;
    min-height: 0;

    & > .tab-wrapper {
      height: 100%;
      @include fill-width;
      padding: 16px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    & .tab-container {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.property {
  display: flex;
  align-items: baseline;
  @include fill-width;
  @include property-spacing;

  & .title {
    font-size: 11pt;
    font-weight: 700;
  }

  & .dash {
    margin-left: 4px;
    margin-right: 4px;
    flex-grow: 1;
    height: 2px;
    background-image: linear-gradient(to right, rgba($disabled, 0.7) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom left;
    background-size: 6px 2px;
    background-repeat: repeat-x;
  }

  & .section-spacer {
    margin-left: 8px;
    margin-right: 16px;
    flex-grow: 1;
    height: 6pt;
    background-image: linear-gradient(to right, rgba($accent, 0.5), rgba($accent, 0.5));
    background-position: center left;
    background-size: 6px 1px;
    background-repeat: repeat-x;
  }

  & .space {
    flex-grow: 1;
  }

  & .value {
    font-size: 12pt;
  }
}

.lesson-units {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  & .lesson-unit {
    flex-shrink: 0;
    background: scale-color($tabbgcolor, $lightness: 5%);
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid black;
    height: 70px;
    min-width: 70px;
    padding: 8px;

    & div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      user-select: none;
    }
  }

  & .lesson-number {
    font-size: 25pt;
    font-weight: 700;
    color: #fff;
  }

  & .lesson-time {
    font-size: 10pt;
    color: $text-basic;
  }

  & .lesson-cards {
    color: $text-basic;
    font-size: 11pt;
    margin-top: 8px;
  }
}

.select-control {

  margin-bottom: 8px;
  @include fill-width;
  position: relative;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & .select-text {
    position: relative;
    left: 30px;
    width: calc(100% - 30px);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @mixin setup-symbols($classname, $imgpath) {
    & .#{$classname} {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      margin: auto;
      border-radius: $border;
      border: 1px solid $disabled;
      background: $tabsecondarycolor;
      box-sizing: border-box;
      background-size: 1px 1px;
      background-position: center;

      transition: background 0.2s, border 0.2s, background-size 0.3s;

      &:hover {
        background: $tabbgcolor;
        background-size: 1px 1px;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:active {
        background: black;
        background-size: 1px 1px;
        background-position: center;
        transition: none;
        background-repeat: no-repeat;
      }
    }

    & input:checked ~ .#{$classname} {
      border-color: transparent;
      background: url($imgpath), $accent;
      background-size: 20px 20px, 20px 20px;
      background-position: center, center;
      background-repeat: no-repeat;

      &:hover {
        background: url($imgpath), $accent-hover;
        background-size: 20px 20px, 20px 20px;
        background-position: center, center;
        background-repeat: no-repeat;
      }

      &:active {
        background: url($imgpath), $pressed;
        background-size: 20px 20px, 20px 20px;
        background-position: center, center;
        background-repeat: no-repeat;
      }
    }
  }

  @include setup-symbols(checkmark, 'img/mark-check.svg');
  @include setup-symbols(radiomark, 'img/mark-check.svg');

  & input.focus-visible ~ .checkmark,
  & input.focus-visible ~ .radiomark {
    box-shadow: 0 0 5px $accent;
  }
}

.hierarchy-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 8px;

  & .empty-container-info {
    font-size: 10pt;
    margin: 4px;
    display: block;
    color: $disabled;
  }
}

.hierarchy-container .hierarchy-container {
  padding-right: 0;
}

.logo-preview {
  max-width: 100%;
  max-height: 150px;
  padding: 8px;
  //background: url('img/logo-bg.png');
  box-sizing: border-box;

  @include property-spacing;
}

.timetable-color-picker {
  background: $bgcolor !important;
  border-radius: $border !important;
  box-shadow: 0px 5px 10px black !important;
  user-select: none;

  & * {
    border: none !important;
  }

  & .flexbox-fix {
    color: $text-basic;
  }

  & .flexbox-fix > div:last-child > div:not(:last-child) {
    border: 1px solid $accent !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    color: $accent !important;
    background: $tabsecondarycolor !important;
    cursor: default !important;

    &:hover {
      background: $bgcolor !important;
    }
  }

  & > div:first-child {
    background: $bgcolor !important;
    font-weight: 700 !important;
    color: $accent !important;
    border: none !important;
    padding: 16px !important;
    box-shadow: none !important;
    font-size: 13pt !important;
  }

  & > div:last-child {
    padding: 8px 15px !important;
  }

  & input {
    background-color: $tabsecondarycolor !important;
    box-shadow: none !important;
    border: 1px solid $accent !important;
    color: $accent !important;
    font-weight: 700;
    font-size: 9pt !important;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $accent !important;
    }

    @include control-focus;
  }

  /*& span {
    color: $accent !important;
    font-size: 11pt !important;
  }*/

  & .flexbox-fix {
    border: none !important;
  }

  & div[tabIndex="0"] {
    box-shadow: 0 0 1px 1px $accent !important;

    &:focus {
      box-shadow: 0 0 3px 3px $accent !important;
    }
  }

  & .flexbox-fix > * {
    border: none !important;
  }
}

.picker-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) rotateX(120deg) scaleX(-0.5);
  opacity: 0;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transform-origin: bottom center;
  visibility: visible;
  pointer-events: none;
  z-index: 1000;

  &:focus {
    outline: none;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) rotateX(0deg) scaleX(1) translateY(-10px);
    transition: 0.3s cubic-bezier(.17,.89,.37,1.42);
  }

  &.nodisplay {
    visibility: hidden;
  }
}

.color-block {
  width: 16px;
  height: 100%;
  display: inline-block;
  margin-right: 4px;
}

.color-group {
  padding-right: 60px;
  margin-top: 4px;
  @include property-spacing;
}

.flex-distribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include property-spacing;

  & > div {
    flex: 0 0 auto;
  }
}

.subject-header {
  user-select: none;
  background: scale-color($tabbgcolor, $lightness: 10%);
  color: white;
  font-weight: 700;
  font-size: 10pt;
  padding: 3px 6px;
}

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.text-right {
  float: right;
}

.grade-selector {
  user-select: none;

  & .grade {
    font-size: 10pt;
    font-weight: 700;
    display: inline-block;
    background: $bgcolor;
    border: 1px solid $disabled;
    transition: 0.3s;
    padding: 6px 12px;

    &:hover {
      background: $tabbgcolor;
    }

    @include control-focus-v2;

    &:first-child {
      border-top-left-radius: $border;
      border-bottom-left-radius: $border;
    }
    &:last-child {
      border-top-right-radius: $border;
      border-bottom-right-radius: $border;
    }

    &.active {
      background: $accent;
      border-color: $accent;
      color: $bgcolor;

      &:hover {
        background: $accent-hover;
      }
    }
  }
}

h1.dialog-title {
  color: $accent;
  margin-top: 8px;
  font-weight: 100;
  font-size: 19pt;
  @include property-spacing;
}

.nosel {
  user-select: none;
}

.group-row {
  @include fill-width;

  background: $tabsecondarycolor;
  border: 1px solid $disabled;
  color: $text-basic;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.2s;
  padding: 4px;

  &:first-child {
    border-top-left-radius: $border;
    border-top-right-radius: $border;
  }

  &:last-child {
    border-bottom-left-radius: $border;
    border-bottom-right-radius: $border;
  }

  &:hover {
    background: $tabbgcolor;
  }

  &.active {
    border-color: $accent;
    background: $accent;
    color: $bgcolor;
  }

  & > .row-tick {
    visibility: hidden;
    width: 24px;
  }

  &.active > .row-tick {
    visibility: visible;
  }

  & p {
    display: block;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 11pt;
  }

  @include control-focus-v2;

  &.focus-visible {
    background-color: $tabbgcolor;

    &.active {
      background-color: white;
    }
  }
}

.rule-row {
  font-size: 10.5pt;
  padding: 8px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacing {
  @include property-spacing;
}

.export-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  user-select: none;

  & > div {
    flex: 1 0 0px;
    min-width: 0;
    margin-left: 6px;
    margin-right: 6px;

    &:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,0.5);
    }

    & *.button {
      display: inline-block;
    }
  }
}

.preview-toolbar {
  background: $tabbgcolor;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0 !important;
  color: white;
  user-select: none;
  border-bottom: 2px solid scale-color($accent, $alpha: -75%);
  box-shadow: 0 0 50px black;

  & > * {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 8px;
    vertical-align: middle;
  }

  & .toolbar-divider {
    height: 2.3em;
    width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    background: black;
    vertical-align: bottom;
  }

  & .zoom-text {
    margin-left: 6px;
    margin-right: 6px;
    width: 3em;
    text-align: center;

    font-weight: 100;

    font-size: 1.5em;
  }
}

.preview-window {
  background: $tabsecondarycolor;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 32px;
}

.preview-page {
  margin-left: auto;
  margin-right: auto;
  background: white;

  width: $a4width;
  height: $a4height;

  box-sizing: border-box;

  box-shadow: 0px 2px 15px black;
  position: relative;

  & .page-content * {
    font-family: Lato-ext;
    position: relative;
  }
}

.progress-window {
  color: $text-basic;
  user-select: none;

  .export-decor {
    width: 100%;
    height: 80px;
  }

  .progress-label {
    margin-top: 8px;
    text-align: center;
    margin-bottom: 16px;
  }

  .progress-bg {
    border: 1px solid #000;
    background: $tabsecondarycolor;
    height: 16px;
    border-radius: 16px;
  }

  .progress-gauge {
    background: $text-basic;
    height: 16px;
    min-width: 16px;
    border-radius: 16px;
  }
}

.action-button {
  border-radius: $border;
  background: transparent;
  transition: 0.2s;
  border: 1px solid transparent;
  padding: 16px;
  position: relative;
  user-select: none;
  min-height: 200px;

  &:hover {
    background: scale-color($tabbgcolor, $lightness: 5%);
    border-color: black;
  }

  &:active {
    transform: scale(0.95);
    background: $bgcolor;
    transition: 0.02s;
    box-shadow: 0 0 10px inset black;
  }

  .ab-text {
    width: calc(100% - 32px);
    min-width: 0;
    word-break: break-word;
    text-align: center;
    font-size: 17pt;
    position: absolute;
    bottom: 32px;
  }

  .ab-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    padding: 32px;
    box-sizing: border-box;
  }

  @include control-focus-v2;
}

.color-property {
  align-items: center;

  .title {
    user-select: none;
    margin-right: 8px;
  }

  .color-def {
    width: 32px;
    height: 16px;
    border: 1px solid white;
  }
}

.helper-tooltip {
  display: inline-block;
  background-image: url('img/help.svg');
  background-repeat: no-repeat;
  position: relative;
  vertical-align: bottom;
  overflow: visible;

  img {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
  }

  &.active img {
    opacity: 1;
  }
}
