/* Timetable DESC - ASCTT render engine
 * Copyright (C) 2020 Łukasz Świszcz
 *
 * timetable.scss - timetable renderer stylesheet
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@import 'lato.css';

$accent: #294e8e;
$leftcolwidth: 30pt;

.page-content {
  height: 100%;
}

.page-frame {
  position: absolute;
  width: 100%;
  height: 100%;

  &.probe-only {
    visibility: hidden;
  }
}

.tt-table {
  height: 100%;
}

.tt-header {
  border-bottom: 1.5pt solid $accent;
  height: 35pt;
  width: 100%;

  align-items: flex-end;

  font-size: 12pt;

  & .tt-logo {
    height: 35pt;
  }

  & .tt-dates {
    text-align: right;
    font-size: 10pt;
    margin-bottom: 2pt;
    flex-shrink: 0;
    font-style: italic;
  }

  & .tt-title {
    text-align: center;
    font-size: 16pt;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 2pt;

    &.class {
      font-size: 20pt;
      line-height: 20pt;
      margin-bottom: 0;
    }

    &.classroom {
      font-size: 20pt;
    }
  }

  & .tt-tutor {
    text-align: center;
  }

  & .tt-category {
    color: #888888;
    font-weight: 400;
  }

  & .tt-source {
    font-weight: 700;
  }

  & .tt-branding {
    max-width: 40%;
    font-size: 10pt;
    margin-bottom: 2pt;
  }
}

.tt-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.tt-head {
  width: 100%;
  font-weight: 700;
  font-size: 12pt;
  flex-shrink: 0;
  border-bottom: 1.5pt solid grey;

  & .tt-head-num {
    width: $leftcolwidth;
    flex-shrink: 0;
    text-align: center;
    padding-bottom: 2pt;
    margin:0;

    color: grey;

    border-right: 2pt solid grey;
  }

  & .tt-head-day {
    flex: 1 0 0;
    text-align: center;
    padding-bottom: 2pt;

    border-right: 1pt solid grey;
    color: $accent;

    margin:0;
  }
}

.tt-row {
  width: 100%;
  flex: 1 0 auto;
  background: white;
  border-bottom: .75pt solid #aaa;
  min-height: 45pt;

  &.last-page {
    flex-grow: 0;
  }

  &.inversed .tt-row-day {
    background: #f0f0f0;
  }

  &.inversed .tt-row-num {
    background: linear-gradient(to right, white, #eee);
  }

  & .tt-row-num {
    width: $leftcolwidth;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-shrink: 0;
    text-align: center;
    padding-bottom: 2pt;
    margin:0;

    color: grey;

    border-right: 2pt solid grey;
    font-weight: 700;

    & .tt-row-number {
      font-size: 22pt;
      line-height: 1em;
    }

    & .tt-row-start, & .tt-row-end {
      font-size: 8.5pt;
      line-height: 1em;
    }
  }

  & .tt-row-day {
    flex: 1 0 0;

    min-width: 0;

    border-right: 1pt solid grey;

    margin:0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & .tt-card {
    flex: 1 0 auto;
    min-width: 50%;
    width: 50%;
    max-width: 100%;
    min-height: 10pt;
    box-sizing: border-box;

    padding-left: 1pt;
    padding-right: 1pt;

    border-left-width: 4pt;
    border-left-style: solid;

    font-size: 9pt;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &.empty {
      visibility: hidden;
      min-height: 5pt;
      height: 5pt;
      flex: none;
    }

    &.wide {
      width: 100%;
      min-height: 28pt;
    }

    & .tt-subject {
      font-weight: 700;
      text-align: center;
      word-break: keep-all;
      position: relative;

      flex: 10 0 auto;
    }

    & .tt-subject-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    & .tt-topsubject {
      font-weight: 700;
      text-align: center;
      font-size: 10pt;
    }

    & .tt-groups {
      font-size: 7pt;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      flex: none;
    }

    &.wide .tt-groups {
      font-size: 9pt;
    }

    & .tt-top .tt-groups {
      flex-shrink: 1;
    }

    & .tt-info {
      position: relative;
      font-size: 8pt;
      flex: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;

    }

    &.wide .tt-info {
      font-size: 9pt;
    }

    & .tt-teacher {
      flex: 1 0 auto;
    }

    & .tt-classroom {
      flex: 1 0 auto;
      white-space: nowrap;
      text-align: right;
    }

    & .tt-top {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      line-height: 1em;
    }

    & .expand-horz {
      flex-grow: 1;
    }
  }
}

.tt-footer {
  font-size: 10pt;
  margin-top: 2pt;
  flex-shrink: 0;
  font-style: italic;
  border-top: 1.5pt solid $accent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  & > * {
    margin-top: 2pt;
  }
}

/* Use !important to override inline styling used to apply user-chosen colors */
.page-frame.mono {
  color: black !important;

  .tt-header {
    border-bottom-color: black !important;
    color: black !important;

    & .tt-logo {
      filter: grayscale(100%);
    }

    & .tt-category {
      color: black !important;
    }
  }

  .tt-head {
    border-bottom-color: black !important;

    & .tt-head-num {
      color: black !important;
      border-right-color: black !important;
    }

    & .tt-head-day {
      border-right-color: black !important;
      color: black !important;
    }
  }

  .tt-row {
    border-bottom-color: black !important;

    &.inversed .tt-row-day {
      background: white !important;
    }

    &.inversed .tt-row-num {
      background: white !important;
    }

    & .tt-row-num {
      color: black !important;
      border-right-color: black !important;
    }

    & .tt-row-day {
      border-right-color: black !important;
    }

    & .tt-card {
      border-bottom: .75pt solid black !important;
      border-right: .75pt solid black !important;
      border-left: none !important;
      color: black !important;
    }
  }

  .tt-footer {
    border-top-color: black !important;
    color: black !important;
  }
}
